.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.posts {
  max-width: 1120px;

  a {
    display: block;
    padding-bottom: 2rem;
  }
}

.loadMoreButton {
  background: none;
  border: 0px;

  a {
    color: var(--highlight);
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}

.title {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--body);
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  color: var(--body);

  div {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  .icon {
    margin-right: 8px;
  }
}


