.footer {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;

  padding-top: 2.5rem;
  border-top: 1px solid #2c2f35;
}

.controlButton {

  cursor: pointer;

  .title {
    font-size: 1.125rem;
    color: var(--heading);
    margin-bottom: 0.5rem;
  }

  .controlLabel {
    font-size: 1rem;
    font-weight: 600;
    color: var(--highlight);
  }
}


